.begining-image-holder-gallery {
  width: 640px;
  height: 426px;
  background: url(../img/Mask_Group_26.png);
  position: absolute;
  top: 150px;
  left: 65px;
}
.image-section {
  display: flex;
  flex-direction: row;
  width: 1920px;
}
.image-section-header {
  font-family: MadeSaonara;
  color: #003537;
  font-size: 36px;
  padding-left: 50px;
  display: flex;
  align-self: flex-start;
}
.line-image-section {
  height: 1px;
  width: 100px;
  background-color: #003537;
  float: left;
  margin: 10px 0 50px 50px;
  display: flex;
  align-self: flex-start;
}
.menu-left-bar-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  line-height: 290%;
  background-color: #003537;
  height: 300px;
}
.menu-left-bar-gallery a {
  text-decoration: none;
  font-size: 24px;
  font-family: Dual300;
}
.images-header {
  display: flex;
  flex-direction: column;
}
.left-green-part-gallery {
  width: 340px;
  height: auto;
  background-color: #003537;
  min-width: 340px;
}
.left-green-part-2 {
  display: none;
}
.menu-left-bar-mobile-gallery {
  display: none;
}
.content-images {
  display: flex;
  flex-direction: row;
}
.images-representation {
  display: flex;
  flex-direction: column;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 50px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px 50px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 400px) {
  .begining-image-holder-gallery {
    width: 550px;
    height: 400px;
  }
  .menu-left-bar-gallery {
    width: 300px;
  }
  .left-green-part-gallery {
    width: 300px;
    min-width: 300px;
  }
  .menu-left-bar-gallery a {
    font-size: 20px;
  }
  .image-section-header {
    font-size: 30px;
  }
  .line-image-section {
    height: 0.5px;
  }
}
@media only screen and (max-width: 835px) {
  .overlay {
    display: flex;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 53, 55, 90%);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: Dual300;
    color: #f2be3a;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .nav-bar {
    display: flex;
    position: absolute;
    top: 1%;
    left: 90%;
    color: #003537;
  }
  .begining-image-holder-gallery {
    width: 306px;
    height: 209;
    background: url(../img/Mask_Group_6888.png);
    position: absolute;
    top: 117px;
    left: 33px;
  }
  .left-green-part-2 {
    display: flex;
    width: 65px;
    height: auto;
    background-color: #003537;
  }
  .menu-left-bar-gallery {
    display: none;
  }
  .menu-left-bar-mobile-gallery {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    line-height: 290%;
    background-color: #003537;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .menu-left-bar-mobile-gallery a {
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 24px;
    font-family: Dual300;
  }
  .left-green-part-gallery {
    width: 65px;
    min-width: 65px;
  }
  .menu-gallery-content-holder {
    display: flex;
    flex-direction: column;
  }
  .image-section-header {
    font-size: 32px;
    padding-top: 20px;
    padding-left: 30px;
  }
  .line-image-section {
    margin: 10px 0 50px 30px;
  }
  .row {
    margin-left: 10px;
  }
}
