.begining-image-holder-gallery{
    width: 640px;
    height: 426px;
    background: url(../img/Mask_Group_26.png);
    position: absolute;
    top: 150px;
    left: 65px;
}
.image-section{
    display: flex;
    flex-direction: row;
    width: 1920px;
   
}
.image-section-header{
    font-family: MadeSaonara;
    color: #003537 ;
    font-size: 36px;
    padding-left: 50px;
    display: flex;
    align-self: flex-start;
   
}
.line-image-section{
    height: 1px;
    width: 100px;
    background-color: #003537;
    float: left;
    margin: 10px 0 50px 50px;
    display: flex;
    align-self: flex-start;
}
.menu-left-bar-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    line-height: 290%;
    background-color: #003537;
    height: 300px;
}
.menu-left-bar-gallery a{
    text-decoration: none;
    font-size: 24px;
    font-family: Dual300;
}
.images-header{
    display: flex;
    flex-direction: column;
}
.left-green-part-gallery{
    width: 340px;
    height: auto;
    background-color: #003537 ;
    min-width: 340px;
}
.content-images{
    display: flex;
    flex-direction: row;

}
.images-representation{
    display: flex;
    flex-direction: column;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 50px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px 50px 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }