.left-part-meni-contact {
  flex: 1 1 0;
  display: flex;
}
.green-part-contact {
  width: 340px;
  background-color: #003537;
  height: 400px;
  position: relative;
}
.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-header-holder {
  display: flex;
  flex-direction: column;
}
.info-map-holder {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
}
.contact-info {
  flex: 1 1 0;
  width: 100%;
  background: url(../img/restaurant_4.png) no-repeat;
  background-position-x: -800px;
  background-position-y: -300px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  flex: 1 1 0;
}
.info-box {
  width: 500px;
  height: 550px;
  background-color: rgb(0, 53, 55, 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.icon-text-aligner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons-contact {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.icons-contact img {
  margin-bottom: 20px;
}
.contact-information {
  display: flex;
  flex-direction: column;
}
.contact-information p {
  margin: 2px 0px 20px 0px;
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
}
.working-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.working-hours p {
  margin: 2px 0px 10px 0px;
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
}
.contact-menu {
  width: 400px;
}
@media only screen and (max-width: 1500px) and (min-width: 400px) {
  .green-part-contact {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 835px) {
  .contact-menu {
    width: 253px;
  }
  .green-part-contact {
    width: 65px;
    height: 300px;
  }
  .page-header-align {
    padding: 50px 0px 20px 20px;
  }
  .info-map-holder {
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .contact-info {
    flex: none;
    width: 100%;
    background: url(../img/Mask_Group_86.png) no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    height: 325px;
  }
  .info-box {
    width: 278px;
    height: 277px;
    justify-content: space-evenly;
  }
  .contact-information p {
    margin: 2px 0px 20px 0px;
    font-size: 16px;
  }
  .working-hours p {
    margin: 2px 0px 10px 0px;
    font-size: 16px;
  }
  .icons-contact img {
    margin-bottom: 20px;
    width: 20px;
  }
  .map-link {
    height: 325px;
    width: 100%;
  }
  .left-part-meni-contact {
    flex: none;
  }
}
