.left-part-meni-contact {
  flex: 1 1 0;
  display: flex;
}
.green-part-contact {
  width: 340px;
  background-color: #003537;
  height: 400px;
  position: relative;
}
.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-header-holder {
  display: flex;
  flex-direction: column;
}
.info-map-holder {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
}
.contact-info {
  flex: 1 1 0;
  width: 100%;
  background: url(../img/restaurant_4.png) no-repeat;
  background-position-x: -800px;
  background-position-y: -300px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  flex: 1 1 0;
}
.info-box {
  width: 500px;
  height: 550px;
  background-color: #003537;
  opacity: 80%;
  -moz-opacity: 80%; /* Firefox and Mozilla browsers */
  -webkit-opacity: 80%; /* WebKit browser e.g. Safari */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.icon-text-aligner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons-contact {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.icons-contact img {
  margin-bottom: 20px;
}
.contact-information {
  display: flex;
  flex-direction: column;
}
.contact-information p {
  margin: 2px 0px 20px 0px;
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
}
.working-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.working-hours p {
  margin: 2px 0px 10px 0px;
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
}
.contact-menu {
  width: 400px;
}
@media only screen and (max-width: 1500px) and (min-width: 400px) {
  .green-part-contact {
    width: 300px;
    height: 300px;
  }
}
