.first-part {
  display: flex;
  flex-direction: row;
}
.left-part-meni {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.green-part {
  width: 340px;
  background-color: #003537;
  height: 768px;
  position: relative;
}
.logo-blue {
  width: 120px;
  margin: 20px 0px 0px 30px;
}

.begining-image-holder {
  width: 640px;
  height: 496px;
  background: url(../img/Mask_Group_201.png);
  position: absolute;
  top: 150px;
  left: 65px;
}
.right-part {
  flex: 1 1 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation li {
  padding: 0px 20px 0px 10px;
}
nav a {
  text-decoration: none;
  font-family: Dual300;
  color: #003537;
  font-size: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
}

.line {
  height: 2px;
  background-color: #003537;
  width: 20px;
  float: left;
  margin: 0 0 0 10px;
}
.page-header-align {
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 90px;
}
.main-meni-header {
  font-family: MadeSaonara;
  color: #003537;
  font-size: 53px;
}
.header-line {
  height: 1px;
  width: 250px;
  background-color: #380200;
  float: left;
  margin: 0 0 0 0px;
}
.meni-under-header {
  font-size: 24px;
  color: #003537;
  font-family: Dual300;
  width: 531px;
  text-align: justify;
}
.menu-left-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  line-height: 290%;
  background-color: #003537;
  height: 600px;
}
.menu-left-bar a {
  text-decoration: none;
  font-size: 24px;
  font-family: Dual300;
}
.breakfast {
  color: #f2be3a;
  border-right: 4px solid #f2be3a;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: ease-out 0.5s;
}

.sidebar-item {
  color: white;
}

.sidebar-item:hover {
  color: #f2be3a;
}

.sidebar-item.selected {
  color: #f2be3a;
  border-right: 4px solid #f2be3a;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-food {
  display: flex;
  flex-direction: row;
}
.food-section {
  display: flex;
  flex-direction: row;
  width: 1920px;
}
.food-section-header {
  font-family: MadeSaonara;
  color: #003537;
  font-size: 36px;
  padding-left: 30px;
  display: flex;
  align-self: flex-start;
}
.line-food-section {
  height: 1px;
  width: 100px;
  background-color: #003537;
  float: left;
  margin: 10px 0 50px 30px;
  display: flex;
  align-self: flex-start;
}
.row-food-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.first-colum-food-image {
  width: 267px;
  height: 317px;
  background: url(../img/Mask_Group_301.png);
  position: relative;
  margin-right: 350px;
  margin-left: 30px;
}
.second-colum-food-image {
  width: 267px;
  height: 317px;
  background: url(../img/Mask_Group_311.png);
  position: relative;
}
.description-food {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 90px;
  background-color: #380200;
  opacity: 84%;
  position: absolute;
  top: 200px;
  left: 70px;
  padding: 10px 0px 0px 20px;
}
.food-name {
  font-size: 24px;
  font-family: Dual300;
  color: white;
  margin: 0px 0px 20px 0px;
}
.ingredients {
  font-size: 18px;
  font-family: Dual300;
  color: white;
  margin: 0px;
}
.description-food-2 {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 90px;
  background-color: #003537;
  opacity: 84%;
  position: absolute;
  top: 200px;
  left: 70px;
  padding: 10px 0px 0px 20px;
}
.price {
  font-size: 18px;
  font-family: Dual300;
  color: white;
  margin: 0px;
  padding-right: 10px;
}
.price-separation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.yellow {
  color: #f2be3a;
}
.footer-nontransparent {
  width: 100%;
  height: 97px;
  background-color: #003537;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}
.left-green-part {
  width: 340px;
  height: auto;
  background-color: #003537;
}
.food-representation {
  display: flex;
  flex-direction: column;
}
.menu-left-bar-mobile {
  display: none;
}
.left-green-part-1 {
  display: none;
}
@media only screen and (max-width: 1500px) and (min-width: 400px) {
  .begining-image-holder {
    width: 550px;
    height: 400px;
    background-position-y: -80px;
  }
  .main-meni-header {
    font-size: 40px;
  }
  .header-line {
    height: 0.5px;
    width: 200px;
  }
  .meni-under-header {
    font-size: 20px;
    width: 450px;
  }
  .green-part {
    height: 600px;
  }
  nav a {
    font-size: 16px;
  }
  .menu-left-bar a {
    font-size: 20px;
  }
  .green-part {
    width: 300px;
  }
  .menu-left-bar {
    width: 300px;
    height: 500px;
  }
  .left-green-part {
    width: 300px;
  }
  .food-section-header {
    font-size: 30px;
  }
  .line-food-section {
    height: 0.5px;
  }
  .first-colum-food-image {
    width: 200px;
    height: 237px;
    margin-right: 280px;
    background: url(../img/Mask_Group_30.png);
  }
  .description-food {
    top: 120px;
    left: 60px;
    width: 320px;
    height: 80px;
  }
  .food-name {
    font-size: 20px;
  }
  .ingredients {
    font-size: 16px;
  }
  .price {
    font-size: 16px;
  }
  .description-food-2 {
    top: 120px;
    left: 60px;
    width: 320px;
    height: 80px;
  }
  .second-colum-food-image {
    width: 200px;
    height: 237px;
    background: url(../img/Mask_Group_31.png);
  }
  .footer-nontransparent {
    height: 80px;
  }
}
@media only screen and (max-width: 835px) {
  .navigation {
    display: none;
  }
  .green-part {
    width: 65px;
    height: 400px;
  }
  .left-green-part-1 {
    display: flex;
    width: 65px;
    height: auto;
    background-color: #003537;
  }
  .begining-image-holder {
    width: 306px;
    height: 209px;
    background: url(../img/Mask_Group_68.png);
    position: absolute;
    top: 117px;
    left: 33px;
  }
  .first-part {
    flex-direction: column;
  }
  .logo-text-holder {
    display: flex;
    flex-direction: column;
  }
  .main-meni-header {
    font-size: 36px;
  }
  .header-line {
    height: 0px;
    width: 124px;
  }
  .page-header-align {
    padding-left: 30px;
    padding-top: 0px;
  }
  .meni-under-header {
    font-size: 18px;
    width: 253px;
  }
  .right-part {
    top: 300px;
    left: 30px;
    display: flex;
    flex-direction: row;
  }
  .menu-left-bar {
    display: none;

    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    line-height: 290%;
    background-color: #003537;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .menu-left-bar-mobile {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    line-height: 290%;
    background-color: #003537;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .menu-left-bar-mobile a {
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 24px;
    font-family: Dual300;
  }
  .sidebar-item.selected {
    border-right: none;
    width: auto;
    color: #f2be3a;
    display: flex;
    justify-content: center;
  }
  .left-green-part {
    width: 65px;
  }
  .food-section-header {
    font-size: 32px;
    padding-top: 20px;
  }
  .row-food-options {
    flex-direction: column;
  }
  .first-colum-food-image {
    width: 123px;
    height: 145px;
    background: url(../img/Mask_Group_3011.png);
    margin: 0px 0px 30px 30px;
  }
  .second-colum-food-image {
    width: 123px;
    height: 145px;
    background: url(../img/Mask_Group_3111.png);
    margin-left: 30px;
  }
  .food-name {
    font-size: 14px;
    margin: 0px 0px 5px 0px;
  }
  .ingredients {
    font-size: 12px;
  }
  .price {
    font-size: 12px;
  }
  .description-food {
    width: 209px;
    height: 45px;
    top: 80px;
    left: 20px;
    padding: 10px 0px 0px 20px;
  }
  .description-food-2 {
    width: 209px;
    height: 41px;
    top: 80px;
    left: 20px;
    padding: 10px 0px 0px 20px;
  }
  .footer-nontransparent {
    position: relative;
    height: 117px;
  }

  .overlay {
    display: flex;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003537;
    opacity: 90%;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: Dual300;
    color: #f2be3a;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .nav-bar {
    display: flex;
    position: absolute;
    top: 1%;
    left: 90%;
    color: #003537;
  }
}
