.begining-image-holder-onama {
  width: 640px;
  height: 373px;
  background: url(../img/Ammo-restaurant-Interior-1.png);
  position: absolute;
  top: 150px;
  left: 65px;
}
.content-images {
  display: flex;
  flex-direction: row;
}
.image-section {
  display: flex;
  flex-direction: row;
  width: 1920px;
}
.left-green-part-gallery {
  width: 340px;
  height: auto;
  background-color: #003537;
  min-width: 340px;
}
.meni-under-header {
  font-size: 24px;
  color: #003537;
  font-family: Dual300;
  width: 531px;
  text-align: justify;
}
.green-part-onama {
  width: 340px;
  background-color: #003537;
  height: 600px;
  position: relative;
}
.down-text {
  padding-left: 50px;
}
.image-next-to-text {
  background-image: url(../img/img_patern_1.svg);
  background-repeat: no-repeat;
  width: 500px;
  height: 400px;
  margin-left: 50px;
}
.text-image-onama-wrapper {
  display: flex;
  flex-direction: row;
}
.text-image-onama-wrapper-mobile {
  display: none;
}
@media only screen and (max-width: 1500px) and (min-width: 836px) {
  .green-part-onama {
    width: 300px;
  }
  .begining-image-holder-onama {
    width: 550px;
  }
}
@media only screen and (max-width: 835px) {
  .begining-image-holder-onama {
    width: 306px;
    height: 209px;
    background: url(../img/Mask_Group_413.png);
    position: absolute;
    top: 117px;
    left: 33px;
  }
  .green-part-onama {
    width: 65px;
    height: 400px;
  }
  .text-image-onama-wrapper {
    display: none;
  }
  .text-image-onama-wrapper-mobile {
    display: flex;
    flex-direction: column;
  }
  .image-next-to-text {
    width: 300px;
    height: 300px;
    margin-left: 10px;
  }
}
