@font-face {
  font-family: "Dual300";
  src: url("../assets/Dual-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MadeSaonara";
  src: url("../assets/MADE_SAONARA.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
}
.main-container {
  max-width: 1920px;
  margin: 0 auto;
}

.first-part {
  display: flex;
  flex-direction: row;
}
.left-part {
  background: url(../img/Mask_Group_20.png) no-repeat;
  height: 768px;
  flex: 1 1 0;
}
.right-part {
  flex: 1 1 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation li {
  padding: 0px 20px 0px 10px;
}
nav a {
  text-decoration: none;
  font-family: Dual300;
  color: #003537;
  font-size: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
}

.line {
  height: 2px;
  background-color: #003537;
  width: 20px;
  float: left;
  margin: 0 0 0 10px;
}
.line-holder {
  display: flex;
  flex-direction: column;
}
.logo-main {
  width: 120px;
  position: absolute;
  top: 5%;
  left: 49%;
  transform: translate(-49%, -49%);
}
.header-align {
  background-color: transparent;
  height: 680px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.main-header {
  font-family: MadeSaonara;
  color: #003537;
  font-size: 48px;
}
.under-header {
  font-size: 24px;
  color: #003537;
  font-family: Dual300;
}
.second-part {
  display: flex;
  flex-direction: row;
}
.box-1 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_23.png) no-repeat;
  height: 384px;
}
.box-2 {
  flex: 1 1 0;
  background-color: #003537;
  background-image: url(../img/Lobby_logo_yellow_lines.svg);
  background-repeat: no-repeat;
  height: 384px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 300px;
}
.box-3 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_21.png) no-repeat;
  height: 384px;
}
.box-4 {
  flex: 1 1 0;
  background-color: #003537;
  height: 384px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box-5 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_22.png) no-repeat;
  height: 384px;
}
.box-6 {
  flex: 1 1 0;
  background-color: #003537;
  height: 384px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box-header-1 {
  font-family: MadeSaonara;
  color: #f2be3a;
  font-size: 53px;
}
.description-1 {
  font-family: Dual300;
  color: #f2be3a;
  font-size: 24px;
}
.box-header-2 {
  font-family: MadeSaonara;
  color: #f2be3a;
  font-size: 53px;
}
.description-2 {
  font-family: Dual300;
  color: #f2be3a;
  font-size: 24px;
}
.third-part {
  height: 514px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.menu-header {
  font-family: MadeSaonara;
  color: #003537;
  font-size: 53px;
}

.button-menu {
  font-family: Dual300;
  color: #003537;
  font-size: 24px;
}
.left-section-menu {
  flex: 1 1 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px;
}
.right-section-menu {
  background-image: url(../img/img_patern_1.svg);
  background-repeat: no-repeat;
  flex: 1 1 0;
}
.button-holder {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line-button {
  width: 30px;
  height: 2px;
  background-color: #003537;
  margin-right: 10px;
}
.fourth-part {
  display: flex;
  flex-direction: row;
}
.greed-1 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_21.png) no-repeat;
  height: 384px;
}
.greed-2 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_26.png) no-repeat;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greed-3 {
  flex: 1 1 0;
  background: url(../img/Mask_Group_22.png) no-repeat;
  height: 384px;
}
.transparent-box {
  background-color: rgb(0, 53, 55, 80%);
  width: 425px;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-header {
  font-family: MadeSaonara;
  color: #f2be3a;
  font-size: 53px;
}
.description-3 {
  font-family: Dual300;
  color: #f2be3a;
  font-size: 24px;
  border: 1px solid;
  padding: 8px 20px;
  text-decoration: none;
  margin-top: 10px;
}
.fifth-part {
  height: 514px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.left-section-reservation {
  background-image: url(../img/img_patern_12.svg);
  background-repeat: no-repeat;
  flex: 1 1 0;
}
.right-section-reservation {
  flex: 1 1 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sixth-part {
  background: url(../img/restaurant_4.png) no-repeat;
  height: 612px;
  background-position-x: 0;
  background-position-y: -500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer {
  width: 100%;
  height: 97px;
  background-color: rgb(0, 53, 55, 80%);
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.transparent-align {
  background-color: transparent;
  height: 515px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.social-media-icon {
  display: flex;
  flex-direction: row;
}
.insta {
  margin-right: 10px;
  margin-left: 10px;
}
.face {
  margin-right: 20px;
}
.copyright {
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
}
.info {
  display: flex;
  flex-direction: row;
}
.info-style {
  font-family: Dual300;
  color: #f2be3a;
  font-size: 18px;
  margin-right: 10px;
  border-right: 1px solid #f2be3a;
  padding-right: 10px;
}
.img-patern-mobil {
  display: none;
}
.second-part-mobile {
  display: none;
}
.fourth-part-mobile {
  display: none;
}
.logo-main-mobile {
  display: none;
}
.fourth-part-mobile-holder {
  display: none;
}
.copyright-mobile {
  display: none;
}
.nav-bar {
  display: none;
}
.overlay {
  display: none;
}
/*.main-header{
    font-size: 3em;
}

.under-header{

    font-size:1.5em
}





.page {
    font-size: .8rem;
   }
   
   
@media only screen and (min-width: 1919px) {
    .page {
      font-size: 1.2rem;
    }
  } 
*/
@media only screen and (max-width: 1500px) and (min-width: 835px) {
  nav a {
    font-size: 16px;
  }
  .main-header {
    font-size: 40px;
  }
  .box-2 {
    background-size: 270px;
  }

  element.style {
  }
  .box-header-2 {
    font-size: 40px;
  }
  .box-header-1 {
    font-size: 40px;
  }
  .menu-header {
    font-size: 48px;
  }
  .gallery-header {
    font-size: 48px;
  }
  .info-style {
    font-size: 16px;
  }
  .copyright {
    font-size: 16px;
  }
  .transparent-box {
    width: 380px;
    height: 200px;
  }
  .footer {
    height: 80px;
  }
}
@media only screen and (max-width: 835px) {
  .navigation {
    display: none;
  }
  .first-part {
    flex-direction: column;
  }
  .left-part {
    background: url(../img/Mask_Group_61.png) no-repeat;
    flex: none;
    height: 524px;
  }
  .logo-main-mobile {
    width: 120px;
    position: absolute;
    top: 5%;
    left: 49%;
    transform: translate(-49%, -49%);
    display: flex;
  }
  .nav-bar {
    display: flex;
    position: absolute;
    top: 1%;
    left: 90%;
    color: white;
  }
  .logo-main {
    display: none;
  }
  .header-align {
    height: 200px;
    align-items: center;
    padding-left: 0px;
  }
  .main-header {
    font-size: 36px;
  }
  .under-header {
    font-size: 20px;
  }
  .second-part {
    display: none;
  }
  .second-part-mobile {
    display: flex;
    flex-direction: row;
  }
  .box-1 {
    height: 188px;
    background: url(../img/Mask_Group_57.png) no-repeat;
  }
  .box-2 {
    height: 188px;
    background-size: 180px;
  }
  .box-3 {
    height: 188px;
    background-image: url(../img/Mask_Group_58.png);
  }
  .box-4 {
    height: 188px;
    align-items: flex-end;
  }
  .box-5 {
    height: 188px;
    background-image: url(../img/Mask_Group_59.png);
  }
  .box-6 {
    height: 188px;
    align-items: flex-start;
  }
  .box-header-1 {
    font-size: 36px;
    padding-right: 10px;
  }
  .description-1 {
    font-size: 16px;
    padding-right: 10px;
  }
  .box-header-2 {
    font-size: 36px;
    padding-left: 10px;
  }
  .description-2 {
    font-size: 16px;
    padding-left: 10px;
  }
  .third-part {
    height: 280px;
    align-items: center;
  }
  .button-menu {
    font-size: 16px;
  }
  .left-section-menu {
    padding-right: 0px;
  }
  .menu-header {
    font-size: 26px;
  }
  .img-patern-mobil {
    display: flex;
  }
  .right-section-menu {
    background-image: none;
  }
  .fourth-part-mobile {
    display: flex;
    flex-direction: row;
  }
  .greed-1-mobile {
    background-image: url(../img/Mask_Group_63.png);
    height: 188px;
    flex: 1 1 0;
  }
  .greed-2-mobile {
    background-image: url(../img/Mask_Group_58.png);
    height: 188px;
    flex: 1 1 0;
  }
  .fourth-part-mobile-holder {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .fourth-part {
    display: none;
  }
  .transparent-box-mobile {
    background-color: rgb(0, 53, 55, 80%);
    width: 300px;
    height: 151px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .test {
    position: absolute;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .gallery-header {
    font-size: 40px;
  }
  .description-3 {
    font-size: 20px;
    margin-top: 20px;
  }
  .fifth-part {
    height: 280px;
    align-items: center;
  }
  .left-section-reservation {
    background-image: none;
  }
  .sixth-part {
    background: url(../img/Mask_Group_67.png) no-repeat;
    height: 378px;
  }
  .transparent-box {
    background-color: rgb(0, 53, 55, 80%);
    width: 300px;
    height: 151px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }
  .info-style {
    font-family: Dual300;
    color: #f2be3a;
    font-size: 16px;
    margin: 0px;
    border-right: none;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .copyright {
    display: none;
  }
  .copyright-mobile {
    display: flex;
    font-family: Dual300;
    color: rgb(242, 190, 58, 70%);
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    border-right: none;
    padding-right: 0px;
  }
  .social-media-icon {
    position: absolute;
    bottom: 10px;
    left: 5px;
  }
  .footer {
    position: relative;
    height: 230px;
  }
  .face {
    width: 25px;
  }
  .insta {
    width: 25px;
  }
  .overlay {
    display: flex;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 53, 55, 90%);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: Dual300;
    color: #f2be3a;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
